## Data Cleaning (Worked Example)

Working with datasets, in real life, can be quite difficult. A common scenario being is our dataset is not error-free. There is a high possibility the datasets will have "bad values/empty values" that needs correction. In this worked example, we discuss some of the techniques that are used in data cleaning.

### Purpose of Data Cleaning
- Find the null values
- Fill in the null values
    - Delete the NULL values (if very few data points are NULL)
    - Replace the NULL values with relevent values (lots of data points have NULL)
    
    
- Create new columns (if required)
- Change/Replace some specific column values
- Handling outliers

### Learning Goals :

    - Load the dataset
    - Get a view of the dataset
    - change the column names for readability
    - size/shape of the dataset
    
- check the missing/null values in the dataset
- drop columns (if too many missing column values)
- replace the null values with relevant values
- drop the missing values all together
- handle outliers

## Salary datasheet Analysis

We have a dataset named **salary survey**. This dataset contains lots of missing data points meaning the dataset is not clean to do analysis(running a model) of any sort. In order to do analysis with this data, we need to find the missing datapoints and fix those based on different criteria, nature of missing datas. In this following notebook, we will learn how to handle/fix those missing data in a dataset.

## describe a high level goal and what are the steps we want to do to acheive that task....

### Set goal for dataset..target from the dataset we want to achieve

### Make smaller notebooks targeting data cleaning problems to solve (like handling outliers)

# Dataset Exploration

### Load the dataset and view it

### Import the pandas library and load dataset

In [6]:
import pandas as pd

In [7]:
pima=pd.read_csv("../datasets/Ask A Manager Salary Survey.csv")
pima.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/21 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/21 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/21 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/21 11:02,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/21 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

## Change column names for readability

In [8]:
pima.columns = ['Timestamp', 'Age','Current Industry', 'Job Title', 'Job Additional Context','Salary Per Anum','Monetary compensation','Salary Currency','Other Currency','income context','country office','US state','US City','Work Exp overall','Work Exp in current field','Education','Gender','Race']
pima.head()

,Timestamp,Age,Current Industry,Job Title,Job Additional Context,Salary Per Anum,Monetary compensation,Salary Currency,Other Currency,income context,country office,US state,US City,Work Exp overall,Work Exp in current field,Education,Gender,Race
0,4/27/21 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/21 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/21 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/21 11:02,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/21 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [10]:
pima['Salary Currency'].value_counts()

USD        23237
CAD         1660
GBP         1579
EUR          633
AUD/NZD      500
Other        152
CHF           37
SEK           37
JPY           23
ZAR           14
HKD            4
Name: Salary Currency, dtype: int64

In [ ]:
pima.dtypes #skip

## Find out the Null Values

In [11]:
pima.isnull().sum()

Timestamp                        0
Age                              0
Current Industry                71
Job Title                        0
Job Additional Context       20665
Salary Per Anum                  0
Monetary compensation         7227
Salary Currency                  0
Other Currency               27683
income context               24848
country office                   0
US state                      4959
US City                         75
Work Exp overall                 0
Work Exp in current field        0
Education                      211
Gender                         165
Race                           165
dtype: int64

# Clean data based on data condition:

## Drop irrelevant Column(s)

In [ ]:
pima = pima.drop('Other Currency', axis=1)
pima.head()

In [ ]:
pima = pima.drop('income context', axis=1)
pima.head()

In [ ]:
pima.shape

### Find and Replace the NUll values with most common value

In [ ]:
#pima['Race'].value_counts()
pima['Race']= pima['Race'].fillna("White")

In [ ]:
pima['Race'].value_counts().head()

## Adding new columns to the Dataset:

In [ ]:
pima['Monetary compensation']= pima['Monetary compensation'].fillna(0)
pima.head()

In [ ]:
pima['Total Compensation']= pima['Salary Per Anum']+ pima['Monetary compensation']
pima.head()

In [ ]:
pima['Total Compensation'].isna().sum()

# Handling Outliers:

### explanation

### Load the Dataset and View data

In [ ]:
nyc=pd.read_csv("datasets/AB_NYC_2019.csv")
nyc.head()

In [ ]:
nyc.shape

In [ ]:
bin_count=400
nyc.hist(column='price',bins=bin_count,figsize=(10,7))

### Spread of 'price' data in terms of numbers:

In [ ]:
nyc.describe()

In [ ]:
nyc['price'].quantile(0.98)

### Removing the Outliers:

### Clipping the data within lower and upper range

In [ ]:
nyc['price']= nyc['price'].clip(nyc['price'].quantile(0.01), nyc['price'].quantile(0.98))

In [ ]:
nyc['price'].max()

In [ ]:
nyc['price'].min()

In [ ]:
nyc.describe()